<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1><%= @cocktail.name %></h1>
      <%= link_to 'Back', cocktails_path %>

      <ul class="list-group">
      <% @cocktail.doses.each do |dose| %>
        <li class="list-group-item">
          <%= dose.description %> de <%= dose.ingredient.name %>
        </li>
      <% end %>
      </ul>

      <%= simple_form_for(@dose) do |f| %>
        <%= f.error_notification %>
        <%= f.association :ingredient %>
        <%= f.input :description %>
        <%= f.button :submit, class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>
